
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'star';
  src: url('../fonts/Starjedi.ttf');
}

body {
  color: white;
}

// General formatting for containers

.fs-container {
  height: 100vh;
  background-color: black;
}

// Main logo animation stuff

#logo {
  width: 0;
  transition: all 3000ms ease-out;
}

.start-button {
  padding: 10px;
  border-radius: 6px;
  background-color: yellow;
  font-family: 'star', serif;
}


// Displaying empty letters

.box {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.letter {
  border-bottom: 2px solid white;
}

// Select Screen
.select-div {
  position: relative;
  height: 80vh;
}

.select-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  background-color: rgba(0,0,0,.4);
  text-align: center;
  margin: 0;
  padding-top: 30vh;
}

.people {
  background-image: url('../images/han-solo.jpg');
  background-size: cover;
  background-position: center center;
}

.planets {
  background-image: url('../images/planet.jpg');
  background-size: cover;
  background-position: center center;
}

.width-letter-size {
  width: 50px;
  margin: 5px auto;
}

.letters-guessed {
  font-size: 30px;

}
